
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'Droid Serif';
    src: url('./fonts/DroidSerif-Bold.woff2') format('woff2'),
        url('./fonts/DroidSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-pink: #ed145b;
    --color-pink-light: #fd2276;
    --color-white: #fff;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body,
ul, li,
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.main-header {
    min-height: 800px;

    background-image: url(./img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* object-fit: cover; */
    background-size: auto, cover;
    
    background-color: #060606;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.main-nav {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
      
}

.nav-links-item {
    margin-right: 15px;
}

.nav-link {
    font-size: 16px;
    color: var(--color-white);
    font-weight: bold;
    line-height: 16px;
    text-align: center;
}

.nav-link:hover {
    color: var(--color-pink);
}

.nav-link:active {
    color: var(--color-pink-light);
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 170px;
}

.banner-title {
    position: relative;
    font-size: 46px;
    color: var(--color-white);
    text-transform: uppercase;
    line-height: 0.522;
    text-align: center;
    font-weight: 100;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.banner-title-bold {
    font-weight: bold;;
}

.banner-title::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    background-color: var(--color-pink);
    bottom: 0;
    left: calc(50% - 100px);
}

.banner-text {
    font-size: 22px;
    margin-bottom: 60px;
    color: var(--color-white);
    line-height: 1.727;
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center; /* центр. по горизонтальи */
    align-items: center;     /* центр. по вертикали */
    min-height: 50px;
    width: 200px;
    background-color: var(--color-pink);
    border: none;
    border-radius: 50px;
    color: var(--color-white);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.btn:hover {
    background-color:var(--color-pink-light);
}

.about {
    position: relative;
    background-color: #f4f4f4;
    padding-top: 130px;
    padding-bottom: 100px;
    min-height: 650px;
    z-index: -2;
}
.content-wrapper{
    max-width: 490px;
}

.about-mac-image {
    position: absolute;
    width: 1030px;
    right: -300px;
    top: 0;
}

.about-title{
         position: relative;
        font-size: 38px;
        font-family: "Lato";
        font-weight: 100;
        color: rgb(90, 90, 90);
        font-style: italic;
        line-height: 52px;
        padding-bottom: 20px;
        margin-bottom: 20px;
}

.about-text {
    line-height: 30px;
    margin-bottom: 40px;
}

.about-title::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    background-color: var(--color-pink);
    bottom: 0;
    left: 0;
}
.about-video-link{
    display: flex;
    align-items: center;
    color: var(--color-pink);
    text-transform: uppercase;
    font-weight: normal;
}
.about-video-link-text {
    margin-right: 5px;
}

.about::before {
    position: absolute;
    content: "";
    /* background-image: url("./img/line.png");
    background-repeat: no-repeat;
    background-size: ; */
    background-color: var(--color-pink);
    top: -40px;
    left: 0;
    width: 100vw;
    height: 80px;
    transform: rotate(-1deg);
    z-index: -1;
}
.services{
    padding-top: 140px;
    padding-bottom: 100px;

}
.services-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px ;
    margin-bottom: 70px;
}
.services-title{
    position: relative;
    font-size: 38px;
    font-weight: 100;
    font-family: "Lato";
    color: rgb(90, 90, 90);
    font-style: italic;
    line-height: 52px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.services-text{
    line-height: 30px;
    margin-bottom: 40px;
}
.services-title::after {
    position: absolute;
    content: "";
    width: 200px;
    height: 2px;
    background-color: var(--color-pink);
    bottom: 0;
    left: 0;
}

.services-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.services-features{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.services-feauture-item{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.services-feature-title{
    color:var(--color-pink);
}
.services-feature-img{
    margin-bottom: 30px;
}

.quotes{
    background-image: url(./img/header-bg.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    /* object-fit: cover; */
    background-size: auto, cover;
    background-color: #060606;
}
.slider-center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.slider-text {
    position: relative;
    color: var(--color-white);
    font-size: 25px;
    font-family: "Lato";
    font-style: italic;
    line-height: 1.6;
}

.slider-text::before {
    position: absolute;
    content: "„";
    font-size: 159px;
    font-family: 'Droid Serif';
    font-weight: bold;
    color: var(--color-pink);    
    top: -150px;
    left: 50%;
    transform: rotate(180deg);
}

.slider-text::after {
    position: absolute; 
    content: "„";
    font-size: 159px;
    font-family: 'Droid Serif';
    font-weight: bold;
    color: var(--color-pink);
    left: 50%;
    top: -50px;
}


